@font-face {
    font-family: fonti;
    src: url("../font/Chekgu\ Oke.ttf");
}

@font-face {
    font-family: fonti1;
    src: url("../font/More\ Ideas.otf");
}

body {
    font-family: fonti;
}

.top {
    border: 3px solid black;
    padding-top: 1.4%;
    padding-bottom: 1.4%;
}

.top a {
    text-align: center;
    display: block;
    color: black;
    font-size: 30px;
    text-decoration: none;
}

.projects {
    font-family: fonti1;
    float: right;
    border: 2px solid black;
    margin-top: 1%;
    padding-right: 1%;
    padding-bottom: 35%;
}

.projects a { 
    text-decoration: none;
}

.fbfel a {
    text-decoration: none;
}

.fbfel {
    font-family: fonti1;
    float: left;
    color: blueviolet;

}

.projects1 {
    margin-left: 5%;
}