body {
    display: flex;
    font-family: kirpixel;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
}

.navbar {
    background-color: rgb(10, 10, 10);
    border-radius: 1px;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    list-style: none;
    position: relative;
    user-select: none;
    transition: background-color 1s;
}

.texts {
    display: inline-block;
    color: white;
    font-size: 24px;
    font-weight: 500;
    user-select: none;
    padding-top: 1.3%;
    padding-bottom: 1%;
}

.navbar li:nth-child(1) {
    color: rgb(75, 75, 119);
    margin-left: 1.5%;

}

.navbar li:nth-child(2) {
    margin-left: 0.6%;
}


.navbar li:nth-child(3) {
    position: sticky;
    float: right;
    margin-right: 1%;
    top: 24%;
    bottom: 3%;
}

.navbar li:nth-child(4) {
    position: sticky;
    float: right;
    top: 40%;
}

.main-bottom {
    bottom: 0;
    padding: 0;
    margin: 0;
    position: fixed;
}

#backi {
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: background-color 1s;
}

.foot {
    width: 80%;
    list-style: none;
    bottom: 1%;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 50;
}

.toxt {
    display: inline-block;
    background-color: rgb(179, 255, 195);
    padding: 0.5%;
    border-radius: 4px;
    color: rgb(0, 35, 190);
}

.foot li:nth-child(2) {
    border-radius: 2px;
    background-color: rgb(179, 255, 195);
    padding: 0.5%;
    display: inline-block;
}

.foot li:nth-child(2) a {
    color: rgb(255, 65, 65);
    text-decoration: none;
    font-size: 15px;
}

#theme {
    display: flex;
    position: fixed;
    color: white;
    bottom: 10%;
    padding: 2%;
    left: 88%;
    padding: 0 3% 0 3%;   
    animation: anisextion2 4s infinite forwards;
    border-radius: 100px;
    font-weight: 900;
}

#msg {
    position: fixed;
    margin-top: -8%;
    margin-left: -20%;
    float: left;
}

#welcome {
    background-image: url("../pictures/ecd388584b90c6e.png");
    background-size: cover;
    background-position: center;
    display: none;
    width: 50%;
    height: 50%;
    position: fixed;
    top: 25%;
    left: 25%;
    flex: 1;
    overflow: auto;
    opacity: 1;
    border-radius: 4px;
    border-color: black;
    border-style: solid;
    transition: opacity 1s linear;
    z-index: 998;
}

.welcome-msg {
    padding: 3%;
    margin-left: 7%;
    margin-top: 6%;
    color: white;
    font-size: 20px;
}

#close {
    position: fixed;
    display: flex;
    background: none;
    border: none;
    margin-top: 0.3%;
    margin-left: 0.3%;
    font-size: 20px;
    color: rgb(192, 34, 34);
    font-weight: 900;
    font-size: 30px;
}

.menu {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 30%;
    top: 50%;
    width: 40%;
    z-index: 1;
}

#bar {
    position: fixed;
    opacity: 0;
    right: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: black;
    width: 13%;
    z-index: 998;
}

#bar ul {
    list-style: none;
}

#bar li:nth-child(1) {
    padding: 1%;
    margin: 1%;
    color: white;
}

#bar li:nth-child(2) {
    color: rgb(141, 0, 0);
    margin-bottom: 1%;
    flex-direction: column;
    display: flex;
    margin-left: 4%;
}

#dirtinput {
    text-align: center;
    font-family: kirpixel;
    border: none;
    background: none;
    color: white;
    outline: none;
    font-size: 13px;
    display: flex;
}


#result {
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 1s;
}

#result-list {
    flex-direction: column;
    width: 100%;
    list-style: none;
}

#result-list li {
    width: 50%;
    margin-top: 0.5%;
    border: 4px solid;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1%;
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0.8);
}

#result-list li p {
    margin: 0;

}

#result-list li div {
    margin-top: 1%;
}


.shittext {

    background-color: black;
    color: rgb(34, 121, 148);
}

.new-content {
    padding: 3%;
    overflow: auto;

}

.new-box {
    user-select: none;
    color: rgb(255, 27, 27);
    font-weight: 600;
}

#news {
    background-image: linear-gradient(to left, rgb(30, 14, 73), rgb(21, 0, 78), rgb(14, 0, 54));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    margin: 0% 4.8% 5% 4.35%;
    overflow: auto;
    flex: 1;
    height: 88%;
    width: 90%;
    border: 2.5px rgba(0, 0, 0, 0.8) solid;
    border-radius: 4px;
    color: white;
    padding: 0.4%;
    display: flex;
    transition: background-image 1s;
}

#fuckduck {
    margin: 0;
    color: rgb(168, 31, 31);
}

@font-face {
    font-family: kirpixel;
    src: url(../fonts/PixeloidSans-mLxMm.ttf);
}

@keyframes anisextion {
    0% {
        opacity: 0.7;
    }

    15% {
        opacity: 1;
    }
}

@keyframes anisextion1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes anisextion2 {
    0% {
        transform: translateY(23px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(23px);
    }
}

@keyframes slide-anisextion {
    0% {
        transform: skewX(-1deg) translateX(100px);
    }

    100% {
        transform: skewX(0deg);
    }
}

@keyframes slide-anisextion1 {
    0% {
        transform: skewX(0deg);
    }

    100% {
        transform: skewX(-1deg) translateX(100%);
    }
}

@media only screen and (max-width: 680px) {
    div.main {
        width: 70%;
    }

    ul.navbar {
        width: 100%;
    }

    .navbar li:nth-child(1) {
        color: rgb(75, 75, 119);
        margin-left: 2%;
        margin-bottom: 1%;
    }

    .navbar li:nth-child(2) {
        margin-left: 0.9%;
    }

    #bar {
        width: 30%;
    }

    #bar li:nth-child(2) {
        font-size: 8px;
        font-weight: 500;
        margin-bottom: 1%;
        margin-left: 4%;
    }

}

@media only screen and (min-width: 221px) {
    
}

@media only screen and (max-width: 1316px) {}

::selection {
    background-color: rgb(255, 74, 74);
    color: black;
}